[Unit]
Description=coordinosaur
Wants=network-online.target
After=network.target

[Service]
WorkingDirectory=/jet/app/coordinosaur
ExecStart=/usr/bin/python3 ./coordinosaur.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
